.env
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
gradle.properties
!**/src/main/**
!**/src/test/**
tmp/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Helm charts folder ###
helm/*/charts/
